<mat-form-field hintLabel={{hint}}>
    <mat-label>{{label}}</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" 
            [formControl]="password"
            (blur)="updateErrorMessage()"
            required>
        @if (password.invalid) {
            <mat-error>{{passwordErrorMessage}}</mat-error>
        }
        @else if(confirmPassword.invalid) {
            <mat-error>{{confirmPasswordErrorMessage}}</mat-error>
        }
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Nascondi Password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
