form > div{
    margin-bottom: 1%;
    margin-top:5%;
}

form{
    display: flex;
    justify-content: center;
}

.registration{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}