<div class="home">
    <div class="container">
        <div class="home-content">
            <div class="row-1">
                <div class="col-12">
                    <h1 class="text-center">Benvenuto su ProgettoFilm</h1>
                </div>
            </div>
            <div class="row-2">
                <div class="col-12">
                    <h2 class="text-center">Cerca un titolo, sfoglia il catalogo oppure accedi per poter recensire</h2>
                </div>
            </div>    
            <div class="row-3">
                    <searchbar></searchbar>
            </div>
        </div>    
    </div>
</div>
