<div class="home">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <h1 class="text-center">Benvenuto su ProgettoFilm</h1>
            <p class="text-center">Il sito dove puoi trovare i tuoi film preferiti</p>
        </div>
        </div>
        <div class="row">
        <div class="col-12">
            <h2 class="text-center">Cosa puoi fare?</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-12 col-md-4">
            <searchbar></searchbar>
        </div>
        </div>
    </div>
</div>
