<div [formGroup]="parentForm" class="col-md-6">
    <label for="name" class="form-label">Nome</label>
      <input id="name" type="text" formControlName="name" class="form-control" [class.is-invalid]="parentForm.get('name')?.invalid && parentForm.get('name')?.touched">
      @if(parentForm.get('name')?.errors?.['required']){
        <div class="invalid-feedback">
          Per favore inserisci un nome.
        </div>
      }  
      @else if(parentForm.get('name')?.invalid && parentForm.get('name')?.touched){
          <div class="invalid-feedback">
            Per favore inserisci un nome valido.
          </div>
        } 
</div>